.e-569986c4
{
	display: block;
	width: 100%;
	height: 100%;
}

.e-569986c4 > .box
{
	display: flex;
	width: 100%;
	height: 100%;
	position: relative;
	border: 1px solid var(--ot-bg-1-border);
	border-radius: var(--ot-radius-l) 0 0 var(--ot-radius-l);
	background: var(--ot-bg-1);
	color: var(--ot-text-1);
	overflow: hidden;
}

.e-569986c4 > .box > .middle
{
	position: relative;
	display: flex;
	flex-direction: column;
	flex: 1;
	min-width: 0;
}

.e-569986c4 > .box > .slot.left,
.e-569986c4 > .box > .slot.right
{
	position: relative;
	display: flex;
	flex-shrink: 0;
}

.e-569986c4 > .box > .middle > .slot.top
{
	display: flex;
	justify-content: center;
	flex-shrink: 0;
}

.e-569986c4 > .box > .middle > .slot.bottom
{
	display: flex;
	flex-direction: column;
	flex-shrink: 0;
}

.e-569986c4 > .box > .middle > .slot.center
{
	position: relative;
	flex: 1;
	min-height: 0;
	overflow: auto;
}

.e-569986c4 > .box > .middle > .slot > div
{
	display: contents;
}

.e-569986c4 > .box > .slot,
.e-569986c4 > .box > div > .slot
{
	z-index: 5;
}
