.e-4b1a7b0c
{
	display: block;
	height: 100%;
}

.e-4b1a7b0c > .box
{
	position: relative;
	height: 100%;
	background: var(--ot-bg-1);
}

/* Bar */

.e-4b1a7b0c .bar
{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	padding: 0 6px;
}

.e-4b1a7b0c .side
{
	display: flex;
	align-items: center;
	gap: 2px;
	height: 100%;
}

.e-4b1a7b0c .segment
{
	display: flex;
	align-items: center;
	gap: 5px;
	height: 20px;
	padding: 0 8px;
	border-radius: var(--ot-radius-s);
	color: var(--ot-text-2);
	font-size: var(--ot-size-s);
	user-select: none;
	transition: color var(--ot-transition-fast), background var(--ot-transition-fast);
}

.e-4b1a7b0c .segment.tab
{
	cursor: pointer;
}

.e-4b1a7b0c .segment.tab:hover
{
	background: var(--ot-bg-3);
	color: var(--ot-text-1);
}

.e-4b1a7b0c .segment.open
{
	background: var(--ot-brand-opacity);
	color: var(--ot-brand);
}

.e-4b1a7b0c .segment > i
{
	font-size: 15px;
}
